#converter {
  max-width: 70%;
  margin: 0 auto;

  @include media-breakpoint-down(lg) {
    max-width: 80%;
  }

  @include media-breakpoint-down(md) {
    max-width: 90%;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }

  .title {
    margin: $spacer * 1.5 0 $spacer * 3;

    @include media-breakpoint-down(xs) {
      margin-bottom: $spacer * 2;

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  #crypto-group-1 {
    @include media-breakpoint-down(xs) {
      margin-bottom: $spacer * 1.5;
    }
  }
}
