@import "../bootstrap/custom-variables";

.coin-details {
  display: none;
  background-color: map-get($theme-colors, "white");

  &__card {
  }

  &__current-price {
  }
}

#crypto-table {
  tbody tr {
    cursor: pointer;
  }
}
