@import "../bootstrap/custom-variables";

.coin-details {
  display: none;
  background-color: map-get($theme-colors, "white");
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

#crypto-table {
  tbody tr {
    cursor: pointer;

    & td:first-child {
      white-space: nowrap;
    }

    & td:last-child {
      width: 220px;
    }
  }
}
