.app-main {
  padding-left: 4.4rem;
  transition: 0.5s;

  .header {
    padding: 1rem 3rem;
    @include media-breakpoint-down(xs) {
      padding: 1rem 1rem;
    }
  }

  .main-content {
    padding: 2rem 3rem 3rem;
    @include media-breakpoint-down(lg) {
      padding: 2rem 1rem 3rem;
    }
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 89px);
  }
}
