#coin-details {
  position: relative;
  background-color: white;
  padding-top: 2rem;
  // transition: width 0.5s;

  &.sticky-details {
    position: fixed;
    top: 0;
    width: calc(100% - 166px);
    z-index: $zindex-modal;

    @include media-breakpoint-down(lg) {
      width: calc(100% - 102px);
    }

    @include media-breakpoint-down(xs) {
      padding-top: 1rem;
    }
  }

  .coin-card {
    @include media-breakpoint-down(xs) {
      margin-bottom: 1rem;
    }
  }

  .coin-extras {
    @include media-breakpoint-down(sm) {
      margin-top: 1rem;
    }

    // .market-cap p:first-of-type {
    //   margin-bottom: 0;
    // }

    .market-cap p:last-of-type {
      // margin-bottom: 0.5rem;
      text-align: right;
    }
  }

  #coin-price {
    @include media-breakpoint-only(sm) {
      text-align: right;
    }
  }

  #close-details-section {
    @include media-breakpoint-down(xs) {
      position: absolute;
      right: 0;
      z-index: $zindex-modal;
    }
  }
}

.sidebar.open + .app-main #coin-details.sticky-details {
  width: calc(100% - 17rem);

  @include media-breakpoint-down(lg) {
    width: calc(100% - 13rem);
  }
}
